body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
  font-family: "Send Flowers", cursive;
}
html {
  margin: 0px;
}
h1 {
  margin: 0px;
  cursor: pointer;
}
.main {
  display: block;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin_second {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes down_to {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes up_to {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes number_down_to {
  0% {
    transform: translateY(1000%);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 0.2;
  }
}
@keyframes navbar_left_to_right {
  0% {
    transform: translateX(-1000%);
  }
  50% { 
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes icons_right_to_left {
  0% {
    transform: translateX(1000%);
  }
  50% {
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes left_to_right {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(110%);
  }
}
@keyframes right_to_left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes nav_bar_opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes left_to_right_text {
  0% {
    transform: translateX(-50%); opacity: 0;
  }
  50% { opacity: 0;
  }
  100% {
    transform: translateX(0%); opacity: 1;
  }
}
.paralax {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 30px;
  right: 100px;
  z-index: 2;
}
.idea_img {
  width: 500px;
  height: 500px;
  position: absolute;
  bottom: 2px;
  right: 0px;
  z-index: 2;
}
.light_img {
  width: 500px;
  height: 500px;
  position: absolute;
  bottom: 80%;
  right: 100px;
  z-index: 2;
  opacity: 0;
}
.light_img:hover {
  opacity: 0.5;
}
.paralax_img {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 100px;
  left: 400px;
  z-index: 2;
  animation: spin 5s infinite;
}
.paralax_img_second {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 0px;
  left: 20px;
  z-index: 2;
  animation: spin_second 5s infinite;
}
.paralax_img_third {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 400px;
  left: 100px;
  z-index: 2;
  animation: spin 5s infinite;
}
.intro {
  height: 100vh;
  width: 100%;
  cursor: pointer;
  position: absolute;
  left: 0px;
  top: 0px;
  /* overflow: hidden; */
  display: none;
}
.video {
  position: absolute;
  max-width: 100%;
  max-height: auto;
  left: 0px;
  top: 0px;
}
.grid-body {
  width: 100vw;
  height: 100vh;
  display: grid;
  /* position: absolute; */
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: minmax(300px, 1fr) minmax(300px, 1fr) minmax(300px, 1fr) minmax(
      300px,
      1fr
    ) minmax(300px, 1fr);
  grid-template-areas:
    "items12 items10 items6 items9 items11 "
    "items12 items10 items6 items9 items11"
    "items12 items10 items6 items9 items11";
  gap: 5px;
  margin: 10px 5px 10px 0px;
  z-index: 1;
}
.grid-items1 {
  text-align: center;
}
.grid-items2 {
  text-align: center;
  grid-area: items2;
}
.grid-items3 {
  text-align: right;
  grid-area: items3;
  margin-top: auto;
}

.grid-items4 {
  text-align: center;
  grid-area: items4;
}
.grid-items5 {
  text-align: center;
  grid-area: items5;
}
.grid-items6 {
  text-align: center;
  grid-area: items6;
}
.grid-items7 {
  text-align: center;
  grid-area: items7;
}
.grid-items8 {
  text-align: center;
  grid-area: items8;
}
.grid-items9 {
  text-align: center;
  grid-area: items9;
}
.grid-items10 {
  text-align: center;
  grid-area: items10;
}
.grid-items11 {
  text-align: center;
  grid-area: items11;
}
.grid-items12 {
  text-align: center;
  grid-area: items12;
}

.grid-items1 img {
  width: 100%;
  height: 100%;
}
.grid-items2 img {
  width: 100%;
  height: 100%;
}
.grid-items3 img {
  width: 100%;
  height: 100%;
}
.grid-items4 img {
  width: 100%;
  height: 100%;
}
.grid-items5 img {
  width: 100%;
  height: 100%;
}
.grid-items6 img {
  width: 100%;
  height: 100%;
  animation: up_to 5s;
}
.grid-items7 img {
  width: 100%;
  height: 100%;
}
.grid-items8 img {
  width: 100%;
  height: 100%;
}
.grid-items9 img {
  transform: rotateY(360deg);
  width: 100%;
  height: 100%;
  animation: down_to 5s;
}
.grid-items10 img {
  width: 100%;
  height: 100%;
  animation: down_to 5s;
}
.grid-items11 img {
  width: 100%;
  height: 100.2%;
  animation: up_to 5s;
}
.grid-items12 img {
  width: 100%;
  height: 100%;
  animation: up_to 5s;
}
.grid-items13 img {
  width: 100%;
  height: 100%;
  animation: up_to 5s;
}
.nav-bar_text {
  width: 19%;
  min-width: 365px;
  height: 70px;
  color: rgba(255, 255, 255, 0.697);
  /* border: solid 3px rgba(15, 15, 15, 0.57); */
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* margin-top: 15px; */
  /* margin-top: 1%; */
  margin-left: calc(50% - 8.5%);
  position: absolute;
  top: -10px;
  z-index: 3;
  font-size: 70px;
  font-weight: 100px;
  animation: up_to 5s;
  cursor: pointer;
  opacity: 0.8;
  padding: 0px;
}
.nav-bar {
  background: rgba(59, 9, 1, 0.697);
  height: 70px;
  min-width: 365px;
  width: 19%;
  height: 150px;
  /* border: solid 3px rgba(15, 15, 15, 0.57); */
  text-align: right;
  margin-top: 1%;
  margin-left: calc(50% - 9%);
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row;
  position: absolute;
  z-index: 2;
  text-align: left;
  opacity: 1;
  animation: nav_bar_opacity 5s;
}
.nav-bar:hover {
  opacity: 1;
  transform: translateX(-2px);
  transition: 1s;

}
.nav-bar_text:hover{
  opacity: 1;
  transition: 1s;
  text-shadow: white 0px 0px 4px;
}
.nav-bar_text:hover + .button-number{
  opacity: 1;
  transition: 1s;
}

.button-number {
  color: rgba(255, 255, 255, 0.697);
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  font-family: "Send Flowers", cursive;
  font-size: 25px;
  opacity: 0.5;
  margin: 38px 13px 0 0;
  animation: number_down_to 5s;
  /* font-family: 'Sunflower', sans-serif; */
  font-style: italic;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.697);
}

.button-number:hover {
  transition: 1s;
  opacity: 1;
  color: #ffffff;
  text-shadow: white 0px 0px 4px;

}
.button-map {
  background-color: transparent;
  border: 0px;
  margin-bottom: 0px;
  cursor: pointer;
  opacity: 0.3;
  animation: number_down_to 5s;
  margin: 38px 0 0 0;
}
.button-map:hover {
  opacity: 1;
}
.button-products {
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  margin: 0px 0px 0px 0px;
  opacity: 0.3;
  animation: number_down_to 5s;
  margin: 38px 0 0 0;
}
.button-products:hover {
  transition: 1s;
  opacity: 1;
}
.button-map img {
  width: 36px;
  height: 36px;
}
.button-products img {
  width: 36px;
  height: 36px;
}
.map_pop {
  width: 750px;
  height: 300px;
  position: absolute;
  right: 5px;
  top: 0.5%;
  z-index: 4;
  opacity: 0.8;
  animation: right_to_left 3s forwards;
  display: none;
  transition: 3s;
}

.map_pop:hover {
  opacity: 1;
  transform: translateX(5px);
  transition: 1s;

}

.pop {
  background-color: #ffffff;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 1230px;
  display: none;
  margin-left: 0px;
  margin-top: 0px;
  z-index: 3;
}
.pop-grid {
  height: 100%;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-left: 5px;
  margin-top: 5px;
}
.pop-items1 {
  display: flex;
  justify-content: start;
}
.pop-items2 {
  display: flex;
  justify-content: start;
}
.pop-items3 {
  display: flex;
  justify-content: start;
}
.pop-items4 {
  display: flex;
  justify-content: start;
}
.pop-items5 {
  display: flex;
  justify-content: start;
}
.pop-items6 {
  display: flex;
  justify-content: start;
}
.pop-items7 {
  display: flex;
  justify-content: start;
}
.pop-items8 {
  display: flex;
  justify-content: start;
}
.pop-items9 {
  display: flex;
  justify-content: start;
}
.pop-items10 {
  display: flex;
  justify-content: start;
}
.pop-items1-text {
  width: 100%;
  height: 80%;
  font-family: "Sunflower", sans-serif;
  font-size: 15px;
  margin-top: 0px;
  padding-left: 10px;
}
.pop-items2-text {
  width: 100%;
  height: 80%;
  font-family: "Sunflower", sans-serif;
  font-size: 15px;
  margin-top: 0px;
  padding-left: 10px;
}
.pop-items3-text {
  width: 100%;
  height: 80%;
  font-family: "Sunflower", sans-serif;
  font-size: 15px;
  margin-top: 0px;
  padding-left: 10px;
}
.pop-items4-text {
  width: 100%;
  height: 80%;
  font-family: "Sunflower", sans-serif;
  font-size: 15px;
  margin-top: 0px;
  padding-left: 10px;
}
.pop-items5-text {
  width: 100%;
  height: 80%;
  font-family: "Sunflower", sans-serif;
  font-size: 15px;
  margin-top: 0px;
  padding-left: 10px;
}
.pop-items6-text {
  width: 100%;
  height: 80%;
  font-family: "Sunflower", sans-serif;
  font-size: 15px;
  margin-top: 0px;
  padding-left: 10px;
}
.pop-items7-text {
  width: 100%;
  height: 80%;
  font-family: "Sunflower", sans-serif;
  font-size: 15px;
  margin-top: 0px;
  padding-left: 10px;
}
.pop-items8-text {
  width: 100%;
  height: 80%;
  font-family: "Sunflower", sans-serif;
  font-size: 15px;
  margin-top: 0px;
  padding-left: 10px;
}
.pop-items9-text {
  width: 100%;
  height: 80%;
  font-family: "Sunflower", sans-serif;
  font-size: 15px;
  margin-top: 0px;
  padding-left: 10px;
}
.pop-items10-text {
  width: 100%;
  height: 80%;
  font-family: "Sunflower", sans-serif;
  font-size: 15px;
  margin-top: 0px;
  padding-left: 10px;
}
.wriper_price {
  width: 100%;
  height: 90%;
  font-family: "Sunflower", sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: left;
}
.price {
  width: 100%;
  height: 15px;
  font-size: large;
  text-align: right;
}
.pop-items1 img,
.pop-items2 img,
.pop-items3 img,
.pop-items4 img,
.pop-items5 img,
.pop-items6 img,
.pop-items7 img,
.pop-items8 img,
.pop-items9 img,
.pop-items10 img {
  width: 300px;
  height: 90%;
  border-radius: 10%;
}
.wrapper-close {
  height: 32px;
  width: 32px;
  position: absolute;
  right: 5px;
  top: 5px;
  display: flex;
}
.button-close {
  width: 32px;
  background-color: transparent;
  height: 32px;
  border: none;
  cursor: pointer;
  position: relative;
  right: 20px;
  top: 0px;
}
@media (max-width: 420px) {
  .main {
    display: block;
    width: fit-content;
    height: 100vh;
    overflow-wrap: ;
    position: absolute;
    z-index: 1;
  }
  .grid-body {
    height: 250vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 40% 40% 40% 40% 40%;
    grid-template-areas:
      "items6 items6 items6 items6 items6 "
      "items9 items9 items9 items9 items9"
      "items10 items10 items10 items10 items10"
      "items11 items11 items11 items11 items11"
      "items12 items12 items12 items12 items12";
    gap: 5px;
    margin: 0px 0px 0px 0px;
    z-index: 1;
  }

  .pop-grid {
    height: 753vh;
    width: 102%;
    background: white;
    display: flex;
    flex-direction: column;
    grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr;
    grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr;
    gap: 20px;
    margin-left: 5px;
    margin-top: 0px;
  }
  .pop {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: absolute;

    top: 0px;
    left: 0px;
    width: 100vw;
    height: 750vh;
    display: none;
    margin-left: 0px;
    margin-top: 0px;
    z-index: 3;
  }

  .grid-items6 img {
    width: 100%;
    height: 100%;
    animation: up_to 5s;
    border-left: solid rgba(59, 9, 1, 0.697) 5px;
    border-right: solid rgba(59, 9, 1, 0.697) 5px;
  }

  .grid-items9 img {
    transform: rotateY(360deg);
    width: 100%;
    height: 100%;
    animation: down_to 5s;
    border-left: solid rgba(59, 9, 1, 0.697) 5px;
    border-right: solid rgba(59, 9, 1, 0.697) 5px;
  }
  .grid-items10 img {
    width: 100%;
    height: 100%;
    animation: down_to 5s;
    border-left: solid rgba(59, 9, 1, 0.697) 5px;
    border-right: solid rgba(59, 9, 1, 0.697) 5px;
  }
  .grid-items11 img {
    width: 100%;
    height: 100.5%;
    animation: up_to 5s;
    border-left: solid rgba(59, 9, 1, 0.697) 5px;
    border-right: solid rgba(59, 9, 1, 0.697) 5px;
  }
  .grid-items12 img {
    width: 100%;
    height: 100%;
    animation: up_to 5s;
    border-left: solid rgba(59, 9, 1, 0.697) 5px;
    border-right: solid rgba(59, 9, 1, 0.697) 5px;
    border-bottom: solid rgba(59, 9, 1, 0.697) 5px;
  }

  .wrapper-close {
    height: 37px;
    width: 37px;
    position: absolute;
    right: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    padding: 0px;
  }
  .button-close {
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
    position: relative;
    right: 0px;
    top: 0px;
    padding: 0;
  }

  .nav-bar {
    width: 107.5vw;
   height: 70px;
    ;
  background: rgba(59, 9, 1, 0.697);
    /* border-left: solid rgba(59, 9, 1, 0.697) 5px;
    border-right: solid rgba(59, 9, 1, 0.697) 5px; */
    text-align: right;
    margin-top: 0px;
    margin-left: 0px;
    display: flex;
    justify-content: end;
    flex-direction: row;
    position: static;
    z-index: 2;
    text-align: left;
    opacity: 1;
    animation: navbar_left_to_right 3s;
    margin: 0px 0px 0px 0px;

  }

  .nav-bar_text {
    width: 100px;
    height: 50px;
    /* border: solid 3px rgba(15, 15, 15, 0.57); */
    font-size: 45px;
    font-weight: 100;
    /* opacity: 0.2; */
    animation: up_to 5s;
    cursor: pointer;
    position: absolute;
    display: block;
    margin: 0px;
    left: 15px;
    top:-10px;
    z-index: 1;
    animation: left_to_right_text 5s;
  }
  .nav-bar_text:hover + .button-number {
    opacity: 1;
    transition: 1s;
  }

  .button-number {
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    font-family: "Send Flowers", cursive;
    font-size: 22=px;
    opacity: 1;
    animation: navbar_left_to_right 5s;
    /* font-family: 'Sunflower', sans-serif; */
    font-style: italic;
    margin-right: 30px;
  }
  .button-number:hover {
    transition: 1s;
    opacity: 0.9;
  }
  .button-map {
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    opacity: 1;
    animation: navbar_left_to_right 5s;
  }
  .button-map:hover {
    transition: 1s;
    opacity: 0.9;
  }
  .button-products {
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    opacity: 0.9;
    display: block;
    animation: navbar_left_to_right 5s;
  }
  .button-products:hover {
    transition: 1s;
    opacity: 1;
  }
  .button-map img, .button-products img {
    width: 30px;
    height: 30px;
  }
  .map_pop {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 71px;
    z-index: 4;
    opacity: 1;
    animation: right_to_left 3s forwards;
    display: none;
    transition: 3s;
  }
  .map_pop:hover {
    opacity: 1;
    transform: translateY(5px);
    transition: 1s;
  
  }
}
